.home
{
    padding: 90px;
    text-align: center;
    background-color: #e32636;
}
.contact
{
    padding: 90px;
    text-align: center;
    background-color: rgb(201, 187, 197);
}
p1 
{
    font-size: 20px;
}
p
{
    font-size: 20px;
}
